name: Linting and Testing
on:
  push:
    branches:
      - '**'
      - '!releases/**'
jobs:
  lint:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ 3.8, 3.9, 3.10.9 ] # We need the `.9` part for 3.10, otherwise github turns it into 3.1
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install hatch

      - name: Lint with flake8
        run: hatch run lint
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ 3.8, 3.9, 3.10.9 ] # We need the `.9` part for 3.10, otherwise github turns it into 3.1
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install hatch
      - name: Run tests
        run: |
          hatch run tests

  type-check:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ 3.8, 3.9, 3.10.9 ] # We need the `.9` part for 3.10, otherwise github turns it into 3.1
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install hatch
      - name: Run type-check
        run: |
          hatch run typecheck
